<div id="grid">
    <div *ngFor="let item of data; let i = index">
        <img src={{item.img}} alt={{item.img}} id="img"/>
        <p id="center">{{item.name}}</p>
        <p id="center_1">{{item.cost}}</p>
        <button id="pluse" class="button" (click)="item.count > 0 ? item.count = item.count - 1: flase">-</button>
            {{item.count}}
        <button class="button" (click)="item.count = item.count + 1">+</button>
    </div>
</div>
<div id="payment">
    <button id="paymentButton" (click)="continue()">Continue</button>
</div>



