#margin {
    margin: 20px;
}

#img {
    width: 100%;
    height: 500px;
}

h1 {
    text-align: center;
}

#button {
    padding: 10px 15px 10px 15px;
    background-color: green;
    color: white;
    font-size: larger;
    border: none;
    margin-left: 50%;
}